<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测试moTool工具使用</title>
  <link rel="stylesheet" href="../lib/css/layui.css">
  <link rel="stylesheet" href="../lib/css/mo.css">  
</head>
<body>
  <div id="demo" class="layui-container">
    <h1 class="layui-text-center">moTool工具方法测试</h1>
    <hr class="layui-bg-blue">
    <ul class="layui-timeline">
      <li v-for="func in funcs" class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <fieldset class="layui-elem-field mo-box-hover">
                <legend>{{ func.name }}方法测试</legend>
                <div class="layui-field-box">
                  <h4>函数描述:{{ func.content }}</h4> 
                  <form class="layui-form">
                    <div class="layui-form-item" v-for="param in func.params">
                      <label class="layui-form-label">{{ param.name }}</label>
                      <div class="layui-input-block" v-if="!param.isSel">
                        <input type="text" v-model="param.data" name="title" class="layui-input">
                      </div>
                      <div class="layui-input-block" v-if="param.isSel">
                        <select name="mode" v-model="param.data">
                          <option value=""></option>
                          <option v-for="value in param.values">{{ value }}</option>
                        </select>
                      </div>
                                            
                    </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                      <button class="layui-btn" @click="func.res = func.exec(func.params,$event)">测试</button>
                  </div>
                </div>
                <blockquote class="layui-elem-quote layui-quote-nm">
                  <p>测试结果：</p>
                  <p>{{ func.res }}</p>                             
                </blockquote>                
            </fieldset>
            
        </div>
      </li>
    </ul>
    <!-- <input v-model="message_1"> -->
  </div>

</body>
<script src="../lib/js/vue.min.js"></script>
<script src="../lib/js/layui.js"></script>
<script src="../lib/js/lay/modules/form.js"></script>
<script src="../dist/moTool.js"></script>
<script src="../lib/js/data.js"></script>
<script>
    var app6 = new Vue({
    el: '#demo',
    data(){
      return {funcs: getTestData()}
    },
    methods: {}
  })
</script>
</html>